{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to meeting planner</h1>
    <p>
        This is meeting planner.
    </p>
    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
            <!--- <a href="/meetings/{{meeting.id}}" > --->
            <a href="{% url 'detail' meeting.id %}">
                {{ meeting.title }}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h3> <a href="{% url 'rooms' %}">Room List </a> </h3>

    <a href="{% url 'about' %}">About </a>

{% endblock %}